.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 1rem;
        color: #f6f6f6;
        z-index: 5;
    }

    .hamburger {
        display: none;
        padding: 1rem;
        color: #FFF;
        font-size: 30px;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
    }

    .nav-menu {
        display: flex;

        li {
            padding: 1rem;

            a {
                color: #f6f6f6;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                user-select: none;
                text-transform: uppercase;
                text-shadow: 0 0 black;
            }
        }
    }
}

@media screen and (max-width: 940px) {
    .navbar {
        .hamburger {
            display: block;
            z-index: 5;
        }
        .mobile-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .nav-menu {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            width: 60%;
            height: 100vh;
            background: var(--primary-color);
            top: 0;
            right: -100%;
            transition: 0.3s ease-in-out;
            padding: 0 20px;
            li {
                margin: .5rem;
                &:hover {
                    border-bottom: 1px solid #aaa;
                    width: 175px;
                }
                a {
                    font-size: 1.2rem;
                }
            }
            button {
                margin: 1rem auto;
                padding: .7rem 1.5rem;
                font-size: 1.2rem;
                border-radius: 25px;
                border: none;
                background: rgba(255, 255, 255, .3);
                width: 100%;
                color: #f6f6f6;
                &:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }
            .social-icons {
                display: flex;
                justify-content: space-evenly;
                margin: 1rem;
            }
            .icon {
                color: #f8f8f8cc;
                font-size: 1.4rem;
            }
            .hide {
                display: none;
            }
        }
        .active {
            right: 0;
        }
    }
}

@media screen and (max-width: 495px) {
    .nav-menu {
        width: 75%;
    }
}